@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100italic);
@import url(https://fonts.googleapis.com/css?family=Esteban);

html,head,body { padding:0; margin:0; }
body { font-family: calibri, helvetica, arial, sans-serif; }

#mount {
  width: 100%;
  height: 750px;
  overflow: hidden;
  background-image: url("page-background.jpg");
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}


#mount #woman {}

#mount #story {
  text-align: center;
  padding-left: 5%;
  padding-top: 50px;
}

#mount #story-text {
  text-align: justify;
  color: #181818;
}

#mount h1, h2 {
  font-family: 'Alegreya Sans', sans-serif;
}
#mount p {
  font-family: 'Esteban', serif;
  line-height: 35px;
  font-size: 18px;
}
